* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffd2da;
  margin: 0;
  overflow: hidden;
}

.outer-container {
  background-color: #fcebee;
  margin: 5rem 4rem;
  height: 80vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 2cap;
  width: 100%;
  gap: 10px;
}

.app-title {
  font-size: 2rem;
  span {
    color: #f34853;
  }
}

.winner-div {
  display: none;
  padding: 4px 6px;
  border-radius: 10px;
  background-color: #f9d359;
  display: none;
}

.app-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.player-box {
  padding: 1rem 1.5rem;
  height: 100px;
  border: 2px solid #fbcacd;
  border-radius: 40%;
  background-color: #ffd2da;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.player-emoji {
  position: absolute;
  font-size: 3rem;
  top: -30px;
}
.player-nameplate {
  background-color: #f9d359;
  padding: 4px 10px;
  cursor: pointer;
  animation: glow 1.5s infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #f9d359;
  }
  100% {
    box-shadow: 0 0 20px #f9d359;
  }
}

.grid {
  padding: 12px;
  border: 1px dashed #f34853;
  border-spacing: 50px;
  border-radius: 1rem;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
}

.col {
  height: 90px;
  width: 90px;
  border: 1px dashed #f9d359;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f34853;
}

/* adding border radius to specific cells */
.col:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

.col:nth-child(3) {
  border-top-right-radius: 0.5rem;
}

.col:nth-child(7) {
  border-bottom-left-radius: 0.5rem;
}

.col:nth-child(9) {
  border-bottom-right-radius: 0.5rem;
}

/* removing external borders from grid */
.col:nth-child(-n + 3) {
  border-top: none;
}

.col:nth-last-child(-n + 3) {
  border-bottom: none;
}

.col:nth-child(3n + 1) {
  border-left: none;
}

.col:nth-child(3n) {
  border-right: none;
}

.btn-container {
  padding-top: 1rem;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 400px;
  position: absolute;
  bottom: 40px;
}

/* action btn */
.action-bttn {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: auto;
  background-color: #f9d359;
  color: #f34853;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: translateY(2px);
    border-bottom-width: 2px;
  }
}
